.navbarContainer {
    height: 56px !important;
  background-color: #0e0f14 !important;
}
.signUpButton {
  border-radius: 8px;
  height: 32px !important;
  background-color: #fff !important;
  color: #14151b !important;
}

.loginButton {
  border-radius: 8px;
  margin: 0 16px 0 16px !important;
  height: 32px !important;
  background-color: #202127 !important;
  color: #fff !important;
}
